<!-- <div class="row"> -->
<!-- </div> -->
<!-- <div class='row'> -->
<!-- </div> -->
<%= content_tag :div,
  id: "mainContainer",
  data: {
}.to_json do %>
<% end %>
<%= javascript_pack_tag 'container' %>
<!--   <div class="row">
  <div class="col-md-6">    
    <iframe
        src="http://player.twitch.tv/?channel=disguisedtoasths"
        scrolling="true"
        height="500"
        width="500"
        allowfullscreen="true">
    </iframe>



  </div>
  <div class="col-md-6">
    <iframe
        src="http://player.twitch.tv/?channel=sheriffeli"
        scrolling="true"
        height="500"
        width="500"
        allowfullscreen="true">
    </iframe>

  </div>
</div>
-->
<!-- <iframe frameborder="0" 
      scrolling="no" 
      id="chat_embed" 
      src="http://www.twitch.tv/disguisedtoasths/chat" 
      height="500" 
      width="350">
</iframe> -->
